html, body {
  height: 100%;
}

body {
  font-family: sans-serif, arial, helvetica;
}

* {
  margin: 0px;
  padding: 0px;
}

#top_wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 0 -2em 0;
}

#middle_wrapper {
	width: 800px;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  font-size: 0.8em;
  line-height: 1.5em;
}

#footer_spacer, #footer {
  height: 2em;
  clear: both;
}

#footer {
  width: 100%;
  background-image: url(../images/footer.png);
  background-repeat: repeat-x;
}

#footer p {
	text-align: center;
  font-size: 0.7em;
	padding-top: 1em;
}

#header {
  text-align: right;
  font-size: 0.8em;
  background-image: url(../images/header.png);
  background-repeat: repeat-x;
  background-position: bottom;
	width: 100%;
  height: 2em;
  padding-top: 1em;
}

#header a, #header a:active {
  outline: none;
  color: #224893;
  text-decoration: none;
  margin-left: 10px;
  padding: 3px 3px 1px 3px;
}

#header a:hover {
  background-color: #224893;
  color: #fff;
}

#quiz_wrapper a,
#quiz_wrapper a:active {
  outline: none;
  color: #000;
  text-decoration: none;
}

#quiz_wrapper a:focus {
  outline-style: none;
}

#left_column {
  margin-left: 10px;
  margin-right: 10px;
  width: 210px;
}

#logo {
  background-image: url(../images/derdiedas.png);
  width: 207px;
  height: 268px;
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
  float: left;
}

#content {
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  position: relative;
  width: 500px;
  margin-left: 220px;
}

#quiz_wrapper {
	margin-left: 15%;
	margin-right: 0%;
	border-left: 1px dashed #a7a7a7;
	min-height: 268px;
}

#main_word {
  padding: 20% 0 0.5em 0;
}

#der_die_das {
  list-style: none;
  position: relative;
  padding-bottom: 1em;
}

#der_die_das ul {
}

#der_die_das ul li {
  display: inline;
}

#der_die_das ul li {
  text-decoration: none;
  color: #003bb2;
  margin-right: 10px;
}

#der_die_das ul li a:visited {
  border: none;
  display: none;
}

#der_button a, #die_button a, #das_button a {
  width: 66px;
  height: 41px;
  background-image: url(../images/derdiedas-buttons.png);
  background-repeat: no-repeat;
  text-decoration: none;
  display: inline-block;
}

#der_button a span, #die_button a span, #das_button a span {
  visibility: hidden;
}

#der_button.button a {
  background-position: -0px -0px;
}

#der_button.ghost a {
  background-position: -0px -41px;
}

#der_button.wrong a {
  background-position: -0px -82px;
}

#der_button.good a {
  background-position: -0px -123px;
}

#die_button.button a {
  background-position: -66px -0px;
}

#die_button.ghost a {
  background-position: -66px -41px;
}

#die_button.wrong a {
  background-position: -66px -82px;
}

#die_button.good a {
  background-position: -66px -123px;
}

#das_button.button a {
  background-position: -132px -0px;
}

#das_button.ghost a {
  background-position: -132px -41px;
}

#das_button.wrong a {
  background-position: -132px -82px;
}

#das_button.good a {
  background-position: -132px -123px;
}

#summary {
}

#sentence {
	padding-top: 10px;
	padding-bottom: 5px;	
}

#back_to_game {
	margin: 2em 0 2em 0;
}

#back_to_game a {
	color: #224893;
	padding: 3px 5px 3px 5px;
	border: 1px solid black;
	background-color: #d5ddb9;
}

#wrong_words {
	margin-top: 1em;
}

table {
	border: 1px solid #e0e0e0;
	width: 80%;
	margin: 1% 10% 1% 10%;
}

tr, td {
	border: 1px solid #e0e0e0;
	width: 33%;
}

tr.table_header {
	background-color: #fab30e;
	font-variant: small-caps;
	font-weight: bold;
}

#wrong_der h4, #wrong_die h4, #wrong_das h4 {
  padding-bottom: 2%;
  padding-top: 5%;
}

.one_word {
  padding: 0;
}

#link_to_dict {
  background-image: url(../images/question-mark.png);
  background-repeat: no-repeat;
  background-position: left top;
  width: 15px;
  height: 15px;
  text-decoration: none;
}

#link_to_dict span {
  visibility: hidden;
}

#feedback,
#about {
  padding: 5% 0 0 10%;
  width: 90%;
  text-align: left;
}

.title {
  color: #224EA7;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
}

.subtitle,
.subtitle a {
  color: #224EA7;
  padding-top: 20px;
}

.nopadding,
.nopadding a {
  padding-top: 0px;
}


#feedback_form {
  padding-bottom: 10px;
  padding-top: 5%;
}

#feedback_form p {
	padding-bottom: 1em;
}

#feedback_form p label {
	display: block;
}

#feedback_listing {
  float: left;
  padding: 5px 0 15px 0;
  border-bottom: groove;
}

.fieldWithErrors {
  border: 5px solid #f66;
}

#feedback_listing a, #feedback2 a, #about_main a {
  text-decoration: none;
  color: #224893;
}

#feedback2 a:hover, #about_main a:hover {
  text-decoration: none;
  background-color: #224893;
  color: #fff;
}

div#preloaded-images {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}
