<div id="der_die_das">
    <ul>
	<% %w(der die das).each do |article| %>
		<li id=<%="#{article}_button"%> class="button">
            <%= link_to_remote(
					"<span>#{article}</span>",
            		:url => {:action => :guess},
            		:with => "'word_id=#{@main_word.id}&article_guess=#{article}'")%>
        </li>
	<% end %>
    </ul>
</div>
