<h1 id="main_word">
    <p><%=@main_word.german%>
	<%= link_to "<span>?</span>", "http://de.wiktionary.org/wiki/#{@main_word.german}",
		:popup => ['new_window', 'height=600,width=600', 'scrollbars=yes'],
		:id => "link_to_dict",
		:title => "Was heißt das?" %>
									
	</p>
</h1>