<p>You have <strong><%= summary[:correct_count]%></strong> correct out of <strong><%= summary[:total_count]%></strong>.</p>
<p>Words you need to work on:
	<%= render :partial => 'word', :collection => summary[:mistakes] %>
</p>
