<p><%= summary[:sentence]%></p>
<p><strong><%= summary[:correct_count]%></strong> von <strong><%= summary[:total_count]%></strong> Richtig.</p>
<% unless summary[:mistakes].empty? %>
	<p>Zum Üben:
		<%= render :partial => 'word', :collection => summary[:mistakes] %>
	</p>
<% end%>
