<div id="quiz_wrapper">
	<%= render :partial => 'main_word'%>
    <%= render :partial => 'der_die_das'%>
    <div id="wrong_answers">
    	<div id="wrong_der">
    		<h4>der</h4>
    	</div>
		<div id="wrong_die">
    		<h4>die</h4>
    	</div>
		<div id="wrong_das">
    		<h4>das</h4>
    	</div>
    </div>
</div>
