<h3>About</h3>
<div id="section">
    <h4>We are ...</h4>
    <p>
        two enthusiast Ruby on Rails programmers. Each time we played around 
        in Ruby, we were just amazed by the simplicity and straightforward  
        manner a problem may be solved. No need to say, we spent our first 
        years of worker life in a real huge project, dedicated to enterprise 
        challenges.
    </p>
    <p>
        Made up finally our minds to create something that would be useful 
        and used by many of the netizens, here is our first project.
    </p>
</div>
<div id="introduction">
    <h4>Der Die Das </h4>
    <p>
        Learning german is not an easy task. Every non-native german speaker,
		even after several years of studying and using the language, encounters
		words for which the correct article is still unknown.
    </p>
    <p>
        Made up finally our minds to create something that would be useful 
        and used by many of the netizens, here is our first project.
    </p>
</div>
