<% title "About us" %>

<div class="main_text">
  <h2 class="title">About us</h2>
  <h3 class="subtitle">We are</h3>
	<p> Orsolya and Norbert, two enthusiastic java - ruby programmers living in Konstanz, Germany. We are both Hungarians, grown up in Romania. We love to travel just as much as we love experiencing foreign cultures. We lived in Hungary, USA, Portugal and since more than 4 years now, we are in Germany. 
	</p>

	<h3 class="subtitle">Why <span>'der die das perfekt'</span>?</h3>
	<p>When we first came to Germany, we could hardly say more than "Hallo" and "Tsch&#252;&#223;". So we started learning, from the very basics. And no doubts, the most difficult part of that learning path consisted of grasping those quirky articles forming the ABCs of the german grammar. 
	</p>
	<p>So we decided to create an application that shall help get the hang of those articles.
	</p>
</div>
