<% title "About us" %>
<div id="about">
  <h2 class="title">About us</h2>
  <h3 class="subtitle">We are </h4>
  <p>two enthusiastic Ruby on Rails programmers. Each time we played around in Ruby, we were just amazed by the simplicity and straightforward manner a problem may be solved. No need to say, we spent our first years of worker life in a real huge project, dedicated to enterprise challenges.</p>
  <p>Made up finally our minds to create something that would be useful and used by many of the netizens, here is our first project.</p>
  <h3 class="subtitle"><%= link_to "derdiedas-perfekt.com", :controller=>"quiz", :action=>"index" %>is</h4>
  <p>a service to achieve correct use of articles for german nouns. Every non-native german speaker struggles with them. Learning german is not easy.</p>
  <p>With our help will be no challenge for you in no time.</p>
  <p>Practice makes perfect!</p>
  <h3 class="subtitle"><%= link_to "Contact", "feedbacks/new" %></h4>
  <p>Questions, comments, feedback? We'd like to hear from you.</p>
</div>
