<% title "Blog" %>
<div id="about" class="title">
    <h2>derdiedas-perfekt.com Blog</h2>
</div>
<div id="about_main">
    <div id="text1">
        We are still working under this part. 
    </div>
</div>
