<% title "What is this?" %>
<div id="content_fb">
  <div id="about" class="title">
    <h2>What is this?</h2>
  </div>
  <div id="about_main">
    <div id="text1">
      This is about learning the articles for nouns in german. 
    </div>
    <div id="text1">
      Currently we provide you 100 nouns for free. You can practice the articles 
      for these words as long as you have them all perfect. 
      <br>
      <br>
      <b>Practice makes perfect!</b>
      <br>
      <br>
      So what is your goal? To use correct articles when speaking german. That's right!
      <br>
      <br>
      <b>Why?</b>
      <br>
      <br>
      Firstly: if you're still learning, why not learn it right?
      <br>
      <br>
      Secondly: you can do it! Even if they say it is hardly impossible.
      <br>
      <br>
      <b>We offer</b>
      <br>
      <br>
      Systematically, with day-to-day practice and useful tips you will know 
			more correct articles than before.
      <br>
      <br>
      Practice from your PC or your mobile!
      <br>
      <br>
      Pricing and mobile support coming soon!
    </div>
  </div>
</div>
