<% title "What is this?" %>
<div class="main_text">
  <h2 class="title">What is this?</h2>
  <p>This site is aimed for those who are learning german as a second language.
	<ul>
		<li>Are you learning german?</li>
		<li>Are you maybe preparing for a test, like Zertifikat Deutsch or KDS?</li>
		<li>Do you do sometimes make mistakes like "meine Name" instead of "mein Name"?</li> 
  </ul>
We know how difficult it is learning the correct article for each and every noun. 
Thus our motto is: <b>"Practice makes perfect!"</b>
Systematically, with day-to-day practice and useful tips you can learn more and more correct articles! Practice from your PC or your mobile!
   </p>
 <p>Mobile support coming soon!</p>
</div>
