<% title "What is this?" %>
<div class="main_text">
  <h2 class="title">What is this?</h2>
  <p>This site is aimed for those who are learning german as a second language.
We know how difficult it is learning the correct article for each and every noun. 
<b>Practice makes perfect!</b>
So what is your goal? To use correct articles when speaking german. That's right!
  <p><b>Why?</b>
Firstly: if you're still learning, why not learn it right?
Secondly: you can do it! Even if they say it is quite impossible.
  </p>
  <p><b>We offer</b>
Systematically, with day-to-day practice and useful tips you will know more correct articles than before.
Practice from your PC or your mobile!
   </p>
 <p>Mobile support coming soon!</p>
</div>
