<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="Author" content="By Orsolya Toth-Gati and Norbert Toth-Gati" />
		<meta name="Description" content="Der-Die-Das. Learning german? Learn the correct articles! Der-Die-Das perfect! " />
		<meta name="copyright" content="&copy; 2009 derdiedas-perfekt.com | Orsolya Toth-Gati and Norbert Toth-Gati">
		<meta name="keywords" content="Deutsch als Fremdsprache, DaF, german, learning, learn, grammar, grammatik, deutsch, artikel, article, der, die, das, perfect, correct, practice">
		
        <title>Der-Die-Das</title>
        <%= stylesheet_link_tag 'style' %>
        <%= javascript_include_tag :defaults %>
    </head>
    <body>
      <div id="header">Login | <%= link_to 'About', :controller => "info", :action => "about" %> | Blog</div>
      <div id="logo"></div>
      <div id="content">
         <%= yield %>
      </div>
	  <div id="footer">Copyright &copy; 2009 derdiedas-perfekt.com</div>
	  <div id="preloaded-images">		
	  </div>  
	  <script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	  </script>
	  <script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-152633-8");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>	
    </body>
</html>
